	
<tf-form-page-card>
	<tf-form-title type="page" slot="title">
		<tf-h3>
			Input Form Elements
		</tf-h3>
	</tf-form-title>

	<!-- form goes here -->
	<form>
			<tf-input name="email-1" label="Email" placeholder="name@example.com"></tf-input>

			<tf-input 
				name="email-2" 
				label="Email" 
				placeholder="name@example.com"
				hint="Enter the email address you registered with"
			></tf-input>


			<tf-input 
				name="email-3" 
				label="Email" 
				placeholder="name@example.com"
				hint="Enter the email address you registered with"
				error-message="That's not an email address"
				error
			></tf-input>

			<tf-input 
				name="email-4" 
				label="Email" 
				placeholder="name@example.com"
				hide-label
				icon="envelope"
				icon-position="left"
			></tf-input>

			<tf-input 
				name="search" 
				label="Search Delegate" 
				placeholder="Joe Bloggs"
				icon="search"
				icon-position="right"
			></tf-input>
	</form>

</tf-form-page-card>

<tf-form-page-card>
	<tf-form-title type="page" slot="title">
		<tf-h3>
			Textarea
		</tf-h3>
	</tf-form-title>

	<!-- form goes here -->
	<form>
			<tf-textarea
				name="about-you" 
				label="About You" 
				placeholder="Type here"
				hint="Describe yourself"
			>
			</tf-textarea>

			<tf-textarea
				name="message" 
				label="Message" 
				placeholder="Type your message"
				row-count=9
				error-message="You need to add your message!"
				error
			>
			</tf-textarea>
	</form>
</tf-form-page-card>

	
<tf-form-page-card>
	<tf-form-title type="page" slot="title">
		<tf-h3>
			Select
		</tf-h3>
	</tf-form-title>

	<!-- form goes here -->
	<form>
		<tf-select
				name="country" 
				label="Country / Six Nation Team" 
				hint="Who you think will win the Six Nations?"
			>
				<tf-select-option value="1.1">England</tf-select-option>
				<tf-select-option value="1.2">Scotland</tf-select-option>
				<tf-select-option value="1.3">Wales</tf-select-option>
				<tf-select-option value="1.4">Ireland</tf-select-option>
				<tf-select-option value="1.5">France</tf-select-option>
				<tf-select-option value="2">Italy</tf-select-option>
			</tf-select>	

			<tf-select
				name="jsFramework" 
				label="Javascript Framework" 
				error-message="Please select a framework"
				error
				value="rct"
			>
				<tf-select-option value=""></tf-select-option>
				<tf-select-option value="ang">Angular</tf-select-option>
				<tf-select-option value="ebr">Ember</tf-select-option>
				<tf-select-option value="rct">React</tf-select-option>
				<tf-select-option value="vue">Vue</tf-select-option>
			</tf-select>	


			<tf-select
				name="region" 
				label="Region" 
			>
				<tf-select-option value="1">South</tf-select-option>
				<tf-select-option value="2">North West</tf-select-option>
				<tf-select-option value="3" selected>North East</tf-select-option>
				<tf-select-option value="4">Midlands</tf-select-option>
			</tf-select>
			
		</form>
</tf-form-page-card>

	
<tf-form-page-card>
	<tf-form-title type="page" slot="title">
		<tf-h3>
			Checkbox
		</tf-h3>
	</tf-form-title>

	<!-- form goes here -->
	<form>
			<tf-checkbox 
				name="rememberMe" 
				label="Remember Me" 
			></tf-checkbox>

			<tf-checkbox 
				name="marketing" 
				label="Send notifications" 
				item-checked
				hint="We will only contact you with relevant information"
			></tf-checkbox>

			<tf-checkbox 
				name="termsConditions" 
				label="Agree to terms and conditions" 
				error-message="Please agree to our Terms and Contitions to continue"
				error
			></tf-checkbox>
	</form>

</tf-form-page-card>

<tf-form-page-card>
	<tf-form-title type="page" slot="title">
		<tf-h3>
			Radio
		</tf-h3>
	</tf-form-title>

	<!-- form goes here -->
	<form>
			<tf-radio-group 
				name="gender" 
				label="Gender" 
				description="Description about the radio group"
				hint="You're gender">
				<tf-radio 
					name="gender-m" 
					group-name="gender"
					label="Male" 
				></tf-radio>
				<tf-radio 
					name="gender-f" 
					group-name="gender"
					label="Female" 
				></tf-radio>
				<tf-radio 
					name="gender-na" 
					group-name="gender"
					label="Rather not disclose" 
				></tf-radio>
			</tf-radio-group>

			<tf-divider></tf-divider>

			<tf-radio-group 
				name="push" 
				label="Push Notifications" 
				description="These are delivered via SMS to your mobile phone."
			>
				<tf-radio 
					name="push-everything" 
					group-name="push"
					label="Everything" 
					hint="Hear about all the news"
					checked
				></tf-radio>
				<tf-radio 
					name="push-courses" 
					group-name="push"
					label="Courses" 
					hint="Be informed when a new course is published"
				></tf-radio>
				<tf-radio 
					name="push-delegates" 
					group-name="push"
					label="Delegates" 
					hint="Recieve notifications on delegate registration"
				></tf-radio>
			</tf-radio-group>
	</form>

</tf-form-page-card>

