<app-header></app-header>
<app-navigation></app-navigation>

<tf-ng-main-content>
	
	<tf-ng-page-title-breadcrumbs>

	</tf-ng-page-title-breadcrumbs>
	
	<tf-ng-info-panel>
		<tf-ng-info-panel-item-container>
			<tf-ng-ph-overview-card 
				is-active="true" 
				product-code="bi"
				product-title="Business Intelligence"
			></tf-ng-ph-overview-card>
		</tf-ng-info-panel-item-container>
		
		<tf-ng-info-panel-item-container>
			<tf-ng-ph-overview-card 
				[is-active]="false" 
				product-code="lm"
				product-title="Learning Management"
				product-description="Training Management is the management application to administrate your corporations training"
			></tf-ng-ph-overview-card>
		</tf-ng-info-panel-item-container>
		

		<tf-ng-info-panel-item-container>
			<tf-ng-ph-overview-card 
				[is-active]="false" 
				product-code="cm"
				product-title="Competence Management"
				product-description="Lorum ipsum solar dolar"
				product-cta="Want to know more about Competence Management? Request a call from your Account Manager"
				[marketing-cta-as-button]="true"
			></tf-ng-ph-overview-card>
		</tf-ng-info-panel-item-container>
		

	</tf-ng-info-panel>



	
	<!-- <tf-ng-card colour="navy">
		<div class="row">
			<div class="row-item">
				<tf-ng-stat-data-card colour="red">
					<span title>Title</span>
					<span data>9999988845159999.9999%</span>
				</tf-ng-stat-data-card>
			</div>
			
			<div class="row-item">
			<tf-ng-stat-data-card colour="amber">
				<span title>Title</span>
				<span data>999998884ata-card</span>
			</tf-ng-stat-data-card>
			</div>
			

			<div class="row-item">
					<tf-ng-stat-data-card colour="green">
				<span title>Title</span>
				<span data>159999.9999%</span>
			</tf-ng-stat-data-card>
			</div>
		

		</div>
		

	</tf-ng-card> -->

	<tf-ng-card>
		<tf-ng-card-content>
			<tf-ng-status colour="green">LIVE</tf-ng-status>
			<tf-ng-status colour="amber">Pending</tf-ng-status>
			<tf-ng-status colour="red">ARCHIVED</tf-ng-status>
			<tf-ng-status colour="grey">Disabled</tf-ng-status>
			<tf-ng-status colour="blue">Status</tf-ng-status>
			<tf-ng-status >Status</tf-ng-status>
			<tf-ng-status colour="aqua">AQUA</tf-ng-status>
			<tf-ng-status colour="navy">Navy</tf-ng-status>
		</tf-ng-card-content>
	</tf-ng-card>